<!DOCTYPE html>

<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="ru">
<!--<![endif]-->

<head>
  <title>
    Заказать грузоперевозки (газель) в Оренбурге недорого с грузчиками
  </title>
  <meta name="description"
    content="Возим грузим по Оренбургу, первое грузовое такси в области, быстрая подача авто, самая низкая цена" />
  <meta name="keywords"
    content="возим грузим, вывоз мусора, переезд, грузчики, заказать газель, грузоперевозки недорого, грузоперевозки Оренбург, газель на час, грузовое такси, доставка стройматериалов" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
  <link rel="icon" href="favicon.ico" type="image/x-icon" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="format-detection" content="telephone=no" />
  <meta name="yandex-verification" content="eceacd2ba2647d46" />
  <link rel="stylesheet" type="text/css" href="{{url_for('/templates/css', path='style1.css')}}" />
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.2.1/dist/jquery.min.js" type="text/javascript"></script>
  <script src="https://cdn.jsdelivr.net/npm/jquery.maskedinput@1.4.1/src/jquery.maskedinput.min.js"
    type="text/javascript"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

  <script type="text/javascript">
    $(function ()
    {
      $(window).scroll(function ()
      {
        if ($(this).scrollTop() != 0)
        {
          $("#toTop").fadeIn();
        } else
        {
          $("#toTop").fadeOut();
        }
      });

      $("#toTop").click(function ()
      {
        $("body,html").animate({ scrollTop: 0 }, 800);
      });
    });
  </script>

  <!-- Yandex.Metrika counter -->
  <script type="text/javascript">
    (function (m, e, t, r, i, k, a)
    {
      m[i] =
        m[i] ||
        function ()
        {
          (m[i].a = m[i].a || []).push(arguments);
        };
      m[i].l = 1 * new Date();
      (k = e.createElement(t)),
        (a = e.getElementsByTagName(t)[0]),
        (k.async = 1),
        (k.src = r),
        a.parentNode.insertBefore(k, a);
    })(
      window,
      document,
      "script",
      "https://mc.yandex.ru/metrika/tag.js",
      "ym"
    );

    ym(72575899, "init", {
      clickmap: true,
      trackLinks: true,
      accurateTrackBounce: true,
    });
  </script>
  <noscript>
    <div>
      <img src="https://mc.yandex.ru/watch/72575899" style="position: absolute; left: -9999px" alt="" />
    </div>
  </noscript>
  <!-- /Yandex.Metrika counter -->
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-4DGMN443KZ"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag()
    {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());

    gtag("config", "G-4DGMN443KZ");
  </script>

</head>

<body>
  <!-- wrap begin -->
  <div id="wrap">
    <!-- header begin -->
    <header id="header">
      <div class="wrapper">
        <a href="index.html" title="Грузоперевозки на Газели по городу и области" class="logo">
          <!--<img src="{{url_for('/templates/images', path='logo-top.png')}}"
            alt="Грузоперевозки на Газели по городу и области" />-->
            <h1>Охотники за грузом<br>Оренбург</h1>
        </a>
        <div class="socialmedia" style="top: 4em">
          <a title=""  target="_blank"><img src="{{url_for('/templates/images', path='whatsup.png')}}" width="30"
              height="30" alt="Написать в Whatsapp" /></a> <!--href="https://wa.me/79228442626"-->
          <a title=""  target="_blank"><img src="{{url_for('/templates/images', path='viber.png')}}" width="30"
              height="30" alt="Написать в Whatsapp" /></a> <!--href="viber://chat?number=79228442626"-->
          <a title=""  target="_blank"><img src="{{url_for('/templates/images', path='telegram.png')}}" width="30"
              height="30" alt="Написать в Telegram" /></a><br> <!--href="http://t.me/master_gruzoff"-->
          <a title=""  target="_blank"><img src="{{url_for('/templates/images', path='vkontakte.png')}}"
              width="30" height="30" alt="Написать ВК" /></a> <!--href="https://vk.com/m.gruzoff.orenburg"-->
          <a title=""  target="_blank"><img src="{{url_for('/templates/images', path='instagram.png')}}"
              width="30" height="30" alt="Написать в Instagram" /></a> <!--href="https://www.instagram.com/master_gruzoff/"-->
        </div>
        <a href="tel:+79619097333" title="Узнать о скидке на грузоперевозки" class="telef">8 961 909 7333</a>
        <div class="kruglos">круглосуточно</div>
        <nav class="menu">
          <ul>
            <li class="icon1">
              <a href="#" title="Услуги Газели">Грузоперевозки</a>
            </li>
            <li class="icon3">
              <a href="spetctech.html" title="Спецтехника">Спецтехника</a>
            </li>
            
          </ul>
        </nav>
        <div class="clear"></div>
      </div>
    </header>
    <!-- header end -->
    <!-- content begin -->
    <div id="content">
      <!-- order_form_block -->
      <div id="order_form_block">
        <div class="wrapper">
          <div class="text">
            <h1>
              Грузоперевозки 24/7
              <span class="p1">по Оренбургу и области недорого <br>
                <a href="tel:+79619097333">8 9619 097 333</a><br>  
                <a href="tel:+79958359195">8 9958 359 195</a><br>
                <a href="tel:+79534579311">8 9534 579 311</a><br>
              </span>
                
            </h1>
            <p class="p2">
              Наша компания предоставляет услуги грузоперевозок и грузчиков по Оренбургу и области
            </p>
            <p class="p3">СКИДКИ постоянным<br>клиентам</p>
            <div class="red_button">
              <a href="http://t.me/orenburg_gruz_bot" target="_blank" rel="noopener noreferrer">
                <button type="button" > <!--onclick="open_popup('#order_popup')"-->
                  заказать сейчас
                </button>
              </a>
            </div>
          </div>
          <div class="clear"></div>
        </div>
      </div>
      <!-- order_form_block END-->
      <hr>
      <div class="price-lists" style="display: flex; justify-content: space-around">
        <div class="price1">
          ПРАЙС ЛИСТ НА РАБОТУ (грузчиков)<br>
          <ol>
            <li>
              Квартирные и офисные переезды от 650р(это с 1эт на лифте,либо с 1 эт на второй,<br>
              с 3 эт  включительно и выше +50р до 5эт,свыше 5 эт +100р либо поэтажнось<br>
               100р за эт на чел,поэтажнось считается с 1 эт,во время поэтажки часовая🕐 не идёт).<br>
               Отдаленные районы+50р
            </li>
            <li>
              Строительные материалы от 700р,либо по ставке 2р за кг
            </li>
            <li>
              Торговое оборудование от 700р(стеллажи,стойки и всякая подобная атрибутика)<br>
              Холодильное оборудование от 700р если вес не превышает 80кг,свыше 80кг+50р,свыше 120кг+100р  
            </li>
            <li>
              Медицинское оборудование от 700р
            </li>
            <li>
              Хозяйственные работы от 700р в зависимости от вида работ
            </li>
            <li>
              Стропалительные работы от 700р
            </li>
            <li>
              Чистка снега с лопатой клиента 700р,со своим инструментом +100р
            </li>
            <li>
              Сборка и разборка мебели от 750р,либо % от стоимости нового
            </li>
            <li>
              Подъем или спуск человека от 1000
            </li>
          </ol>
          

        </div>
        <div class="price2">
          Расценки на 🚚
          <ul>
            <li>
              🚚3м-1300
            </li>
            <li>
              🚚4м-1500
            </li>
            <li>
              🚚5м-1700
            </li>
            <li>
              🚚6м-1900
            </li>
            <li>
              📍25р. км 3м
            </li>
            <li>
              📍26р. км 4м
            </li>
            <li>
              📍27р. км 5м
            </li>
            <li>
              📍29р. км 6м
            </li>
            <li>
              Эвакуатор от 3000
            </li>
            <li>
              Манипулятор 3480 5т.
            </li>
          </ul>
        </div>
      </div>
      <hr>
      <!--text_block-->
      <!-- <div class="text_block wrapper">
        <p>
          Недорогие грузоперевозки Газелью по городу и области – наша основная
          задача. В нашей компании можно заказать Газель и для переезда, и для
          некрупногабаритных грузов. Дополнительно есть услуги грузчиков и
          сборщиков мебели. Для перевозки ваших вещей, есть услуга “Соболь”.
          Если вам требуется что-либо отвезти -&nbsp; обращайтесь к нам.
        </p>
      </div> -->
      <!--text_block END-->
      <!--recomended-->
      <div id="recomended" class="wrapper">
        <div class="foto">
          <img src="{{url_for('/templates/pics', path='img1.jpg')}}" alt="Наши грузоперевозки на Газели рекомендуют партнерам"
            title="Лучшие перевозки на Газели по городу" />
        </div>
        <div class="text">
          <p class="h2">
            У нас
            <span class="percent">85<span class="perc">%</span></span> заказов
            с рекомендаций
          </p>
          <p class="p1">
            Каждый день наша компания организует недорогие грузоперевозки по
            городу и области. У нас множество довольных клиентов которые
            возвращаются к нам повторно и рекомендуют нас своим друзьям и
            знакомым. Если нужна дешевая услуга по грузоперевозкам значит вам
            нужно обращаться в нашу компанию.
          </p>
        </div>
        <div class="clear"></div>
      </div>
      <!--recomended END-->
      <!--advantages-->
      <div id="advantages">
        <div class="wrapper">
          <ul class="list">
            <li class="item item1">
              <div class="icon"></div>
              <p class="p1">от 1300</p>
              <p class="p2">рублей - стоимость одного часа газели</p>
              <p class="p3">
                (самые дешевые автоперевозки в городу и области)
              </p>
            </li>
            <li class="item item2">
              <div class="icon"></div>
              <p class="p1">24</p>
              <p class="p2">часа в сутки</p>
              <p class="p3">
                (перевозим срочно, круглосуточно по договоренности)
              </p>
            </li>
            <li class="item item3">
              <div class="icon"></div>
              <p class="p1">187</p>
              <p class="p2">машин в автопарке</p>
              <p class="p3">(ежедневно перевозят десятки тонн грузов)</p>
            </li>
            <li class="item item4">
              <div class="icon"></div>
              <p class="p1">8</p>
              <p class="p2">лет мы работаем для вас</p>
              <p class="p3">(входим в ТОП транспортных компаний области)</p>
            </li>
          </ul>
        </div>
      </div>
      <!--advantages END-->
      <!-- order_gazel-->
      <div id="order_gazel">
        <div class="wrapper">
          <div class="red_button">
            <a href="http://t.me/orenburg_gruz_bot" target="_blank" rel="noopener noreferrer">
              <button type="button">Оставить заявку</button>
            </a>
          </div>
          <div class="clear"></div>
        </div>
      </div>
      <!-- order_gazel END-->
      <!--prices-->
      <div id="prices">
        <!-- <div class="wrapper">
                    <h2>Самые низкие цены в городу</h2>
                    <div class="banner">
                        <div class="wrap">
                            <div class="left">
                                <p class="p2">Получить специальное предложение</p>
                                <p class="p3">для корпоративных клиентов</p>
                            </div>
                            <div class="right">
                                <p class="p4"><a href="tel:+79228442626" title="Получить предложение для корпоративных клиентов">+7 (922) 844-26-26</a></p>
                                <p class="p5"> для юридических лиц</p>
                            </div>
                            <a href="javascript:;" class="link" onClick="open_popup('#spec_sentence_popup');" title="Грузоперевозки на Газели для корпоративных клиентов"></a>
                        </div>
                    </div>
                </div> -->
        
      </div>
      <!--prices END-->
      <!-- why_so_cheep-->
      <div id="services">
        <div class="wrapper">
          <h2>Почему у вас такие низкие цены?</h2>
          <p class="p1">У нас свой автопарк!</p>
          <p class="p2">
            Для сравнения, узнайте сколько стоит заказать газель у наших
            конкурентов, а потом позвоните нам. Наши услуги в среднем на
            <strong>17% ДЕШЕВЛЕ</strong> рыночной цены. Свои собственные
            машины, штат водителей с большим стажем, нет раздутого штата
            сотрудников, это все позволяет нам держать низкие цены по городу.
          </p>
          <p class="p2" в="" нашем="" автопарке="" всегда="" найдется="" свободная="" машина="" и="" подача="" газели=""
            составит="" в="" среднем=""></p>
          <strong>15 МИНУТ</strong> после оформления заказа.
          <div class="heading" id="serv1">Нанять Газель для:</div>
          <ul class="list list1">
            <li>
              <a href="javascript:;" title="Нанять Газель для грузовой перевозки"
                onclick="list1('hire_gazel','Нанять Газель для грузовой перевозки', 'ЦЕНА ОТ 1300 Р.')">
                <span><img src="{{url_for('/templates/pics', path='img_01.jpg')}}" alt="Нанять Газель для грузовой перевозки по городу"
                    title="Нанять Газель для грузовой перевозки" /></span>
                <span>грузовой<br>
                  перевозки</span>
                <span class="hint">
                  Длинная Газель отлично подойдет для перевозки холодильников,
                  диванов, пластиковых окон и т.п. вещей.
                </span>
              </a>
            </li>
            <li>
              <a href="javascript:;" title="Нанять Газель для квартирного переезда"
                onclick="list1('hire_gazel','Нанять Газель для квартирного переезда', 'ЦЕНА ОТ 1300 Р.')">
                <span><img src="{{url_for('/templates/pics', path='img_02.jpg')}}" alt="Нанять Газель для квартирного переезда в городу"
                    title="Нанять Газель для квартирного переезда" /></span>
                <span>квартирного<br>
                  переезда</span>
                <span class="hint">
                  Для транспортировки малогабаритных вещей, офисной мебели,
                  можно заказать Газель-фургон.
                </span>
              </a>
            </li>
            <li>
              <a href="javascript:;" title="Нанять Газель для перевозки мебели"
                onclick="list1('hire_gazel','Нанять Газель для перевозки мебели', 'ЦЕНА ОТ 1300 Р.')">
                <span><img src="{{url_for('/templates/pics', path='img_03.jpg')}}" alt="Нанять Газель для перевозки мебели по городу"
                    title="Нанять Газель для перевозки мебели" /></span>
                <span>перевозки<br>
                  мебели</span>
                <span class="hint">
                  Удлинённый фургон отлично подойдет для безопасной перевозки
                  неразборных конструкций.
                </span>
              </a>
            </li>
          </ul>
          <div class="heading">Дополнительные услуги:</div>
          <ul class="list list2">
            <li>
              <a href="javascript:;" title="Услуги грузчиков"
                onclick="list1('additional_services','Услуги грузчиков', 'ЦЕНА ОТ 650 Р.')">
                <span><img src="{{url_for('/templates/pics', path='img_21.jpg')}}" alt="Услуги грузчиков в городу" title="Услуги грузчиков" /></span>
                <span>услуги <br>
                  грузчиков</span>
                <span class="hint">
                  Закажите газель с грузчиками недорого по городу и области.
                  Услуги грузчиков оплачиваются по часам.
                </span>
              </a>
            </li>
            <li>
              <a href="javascript:;" title="Такелажные работы"
                onclick="list1('additional_services','Такелажные работы', 'Цена от 700 р.')">
                <span><img src="{{url_for('/templates/pics', path='img_22.jpg')}}" alt="Такелажные работы в городу" title="Такелажные работы" /></span>
                <span>такелажные<br>
                  работы</span>
                <span class="hint">
                  Для перевозки пианино, сейфа или другого нестандартного
                  груза, организуем такелажные работы.
                </span>
              </a>
            </li>
            <li>
              <a href="javascript:;" title="Сборка и разборка мебели"
                onclick="list1('additional_services','Сборка/разборка мебели', 'Цена от 750 р.')">
                <span><img src="{{url_for('/templates/pics', path='img_23.jpg')}}" alt="Сборка и разборка мебели в городу"
                    title="Сборка и разборка мебели" /></span>
                <span>сборка/разборка<br>
                  мебели</span>
                <span class="hint">
                  Сборка и разборка мебели после грузоперевозки.
                </span>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <!-- why_so_cheep END-->
      <!--cupon_on_discount-->
      <div id="cupon_on_discount">
        <div class="wrapper">
          <div class="text">
            <p class="h2">НЕ ТРАТЬТЕСЬ ВПУСТУЮ</p>
            <p class="p2">Экономия никогда не бывает лишней.</p>
          </div>
          <div class="clear"></div>
        </div>
        <div class="yellow_block">
          <div class="wrapper osobeniy2">
            <img src="{{url_for('/templates/images', path='girl.png')}}" alt="Скидка 10% на грузоперевозки на Газели по городу и области"
              title="Скидка 10% на грузоперевозки на Газели по городу" class="girl" />
            <div class="red_button">
              <a href="http://t.me/orenburg_gruz_bot" target="_blank" rel="noopener noreferrer">
                <button type="button">Оставить заявку</button>
              </a>
            </div>

            <div class="clear"></div>
          </div>
        </div>
      </div>
      <!--cupon_on_discount END-->
      <!--autopark-->
      <div id="autopark" class="offblock">
        <div class="wrapper">
          <p class="h2">В нашем автопарке 187 машин</p>

          <div class="tab_block autopark-carousel active" id="autopark-panel0">

            <!-- <div class="item">
                            <div class="left">
                                <p class="foto"><img src="{{url_for('/templates/images', path='cars/cars2.png')}}" alt="Автопарк Газелей для перевозки по городу и области" title="Автопарк Газелей для грузовых перевозок"></p>
                                <div class="sizes">
                                    <div class="volume"><span class="num">6 </span> м<sup>3</sup></div>
                                    <div class="size height">1.6 м </div>
                                    <div class="size width">1.8 м </div>
                                    <div class="size length">2.5 м </div>
                                    <dl>
                                        <dt>грузоподъемность:</dt>
                                        <dd>1 т</dd>
                                    </dl>
                                </div>
                            </div>
                            <div class="right">
                                <p class="p1">СОБОЛЬ</p>
                                <p class="p2"><span class="num">от 600</span> руб./час</p>
                                <dl>
                                    <dt><span class="white">Мин. время в пределах Оренбурга:</span></dt>
                                    <dd><span class="num">1 </span> ч</dd>
                                    <dt><span class="white">Мин. ставка в пределах Оренбурга:</span></dt>
                                    <dd><span class="num">600</span> р.</dd>

                                </dl>
                                <p class="p3">Заказать <a href="tel:+79228442626" title="Заказать СОБОЛЬ">+7 (922) 844-26-26</a></p>
                                <p class="p4"><span class="exclamation">!</span> Тарифы действительны с 9:00 до 21:00 часов Вес груза до 1,5 тонны. +150 рублей час за отдаленные районы Кушкуль, Ростоши, пос.им. Куйбышева, Южный, Сулак, Авиагородок, Маяк и Берды</p>
                            </div>
                            <div class="clear"></div>
                        </div> -->
            <div class="item">
              <div class="left">
                <p class="foto">
                  <img src="{{url_for('/templates/images', path='cars/cars3.png')}}" alt="Автопарк Газелей для перевозки по городу и области"
                    title="Автопарк Газелей для грузовых перевозок" />
                </p>
                <div class="sizes">
                  <div class="volume">
                    <span class="num">11 </span> м<sup>3</sup>
                  </div>
                  <div class="size height">1.9 м</div>
                  <div class="size width">1,95 м</div>
                  <div class="size length">3 м</div>
                  <dl>
                    <dt>грузоподъемность:</dt>
                    <dd>1.5 т</dd>
                  </dl>
                </div>
              </div>
              <div class="right">
                <p class="p1">Газель 3 метра</p>
                <p class="p2"><span class="num">от 1300</span> руб./час</p>
                <dl>
                  <dt>
                    <span class="white">Мин. время в пределах Оренбурга:</span>
                  </dt>
                  <dd><span class="num">1 </span> ч</dd>
                  <dt>
                    <span class="white">Мин. ставка в пределах Оренбурга:</span>
                  </dt>
                  <dd><span class="num">1300</span> р.</dd>
                </dl>
                <p class="p3">
                  Заказать
                  <a href="tel:+79619097333" title="Заказать Хендай Портер">8 961 909 7333</a>
                </p>
                <p class="p4">
                  <span class="exclamation">!</span> Тарифы действительны с
                  9:00 до 21:00 часов Вес груза до 1,5 тонны. +150 рублей час
                  за отдаленные районы Кушкуль, Ростоши, пос.им. Куйбышева,
                  Южный, Сулак, Авиагородок, Маяк и Берды
                </p>
              </div>
              <div class="clear"></div>
            </div>
            <div class="item">
              <div class="left">
                <p class="foto">
                  <img src="{{url_for('/templates/images', path='cars/cars4.png')}}" alt="Автопарк Газелей для перевозки по городу и области"
                    title="Автопарк Газелей для грузовых перевозок" />
                </p>
                <div class="sizes">
                  <div class="volume">
                    <span class="num">18 </span> м<sup>3</sup>
                  </div>
                  <div class="size height">2 м</div>
                  <div class="size width">2 м</div>
                  <div class="size length">4.2 м</div>
                  <dl>
                    <dt>грузоподъемность:</dt>
                    <dd>1.5 т</dd>
                  </dl>
                </div>
              </div>
              <div class="right">
                <p class="p1">Газель 4 метра</p>
                <p class="p2"><span class="num">от 1500</span> руб./час</p>
                <dl>
                  <dt>
                    <span class="white">Мин. время в пределах Оренбурга:</span>
                  </dt>
                  <dd><span class="num">1 </span> ч</dd>
                  <dt>
                    <span class="white">Мин. ставка в пределах Оренбурга:</span>
                  </dt>
                  <dd><span class="num">1500</span> р.</dd>
                </dl>
                <p class="p3">
                  Заказать
                  <a href="tel:+79619097333" title="Заказать Хендай Портер рефрежиратор">8 961 909 7333</a>
                </p>
                <p class="p4">
                  <span class="exclamation">!</span> Тарифы действительны с
                  9:00 до 21:00 часов Вес груза до 1,5 тонны. +150 рублей час
                  за отдаленные районы Кушкуль, Ростоши, пос.им. Куйбышева,
                  Южный, Сулак, Авиагородок, Маяк и Берды
                </p>
              </div>
              <div class="clear"></div>
            </div>
            <div class="item">
              <div class="left">
                <p class="foto">
                  <img src="{{url_for('/templates/images', path='cars/cars5.png')}}" alt="Автопарк Газелей для перевозки по городу и области"
                    title="Автопарк Газелей для грузовых перевозок" />
                </p>
                <div class="sizes">
                  <div class="volume">
                    <span class="num">23 </span> м<sup>3</sup>
                  </div>
                  <div class="size height">2.1 м</div>
                  <div class="size width">2.1 м</div>
                  <div class="size length">5.2 м</div>
                  <dl>
                    <dt>грузоподъемность:</dt>
                    <dd>2 т</dd>
                  </dl>
                </div>
              </div>
              <div class="right">
                <p class="p1">Газель 5 метров</p>
                <p class="p2"><span class="num">от 1700</span> руб./час</p>
                <dl>
                  <dt>
                    <span class="white">Мин. время в пределах Оренбурга:</span>
                  </dt>
                  <dd><span class="num">1 </span> ч</dd>
                  <dt>
                    <span class="white">Мин. ставка в пределах Оренбурга:</span>
                  </dt>
                  <dd><span class="num">1700</span> р.</dd>
                </dl>
                <p class="p3">
                  Заказать
                  <a href="tel:+79619097333" title="Заказать Ситроен Джампи">8 961 909 7333</a>
                </p>
                <p class="p4">
                  <span class="exclamation">!</span> Тарифы действительны с
                  9:00 до 21:00 часов Вес груза до 1,5 тонны. +150 рублей час
                  за отдаленные районы Кушкуль, Ростоши, пос.им. Куйбышева,
                  Южный, Сулак, Авиагородок, Маяк и Берды
                </p>
              </div>
              <div class="clear"></div>
            </div>
            <div class="item">
              <div class="left">
                <p class="foto">
                  <img src="{{url_for('/templates/images', path='cars/cars6.png')}}" alt="Автопарк Газелей для перевозки по городу и области"
                    title="Автопарк Газелей для грузовых перевозок" />
                </p>
                <div class="sizes">
                  <div class="volume">
                    <span class="num">30 </span> м<sup>3</sup>
                  </div>
                  <div class="size height">2.1 м</div>
                  <div class="size width">2.3 м</div>
                  <div class="size length">6 м</div>
                  <dl>
                    <dt>грузоподъемность:</dt>
                    <dd>3 т</dd>
                  </dl>
                </div>
              </div>
              <div class="right">
                <p class="p1">Газель 6 метров</p>
                <p class="p2"><span class="num">от 1900</span> руб./час</p>
                <dl>
                  <dt>
                    <span class="white">Мин. время в пределах Оренбурга:</span>
                  </dt>
                  <dd><span class="num">1 </span> ч</dd>
                  <dt>
                    <span class="white">Мин. ставка в пределах Оренбурга:</span>
                  </dt>
                  <dd><span class="num">1900</span> р.</dd>
                </dl>
                <p class="p3">
                  Заказать
                  <a href="tel:+79619097333" title="Заказать Лада Ларгус">8 961 909 7333</a>
                </p>
                <p class="p4">
                  <span class="exclamation">!</span> Тарифы действительны с
                  9:00 до 21:00 часов Вес груза до 1,5 тонны. +150 рублей час
                  за отдаленные районы Кушкуль, Ростоши, пос.им. Куйбышева,
                  Южный, Сулак, Авиагородок, Маяк и Берды
                </p>
              </div>
              <div class="clear"></div>
            </div>
            <div class="item">
              <div class="left">
                <p class="foto">
                  <img src="{{url_for('/templates/images', path='cars/cars7.png')}}" alt="Автопарк Газелей для перевозки по городу и области"
                    title="Автопарк Газелей для грузовых перевозок" />
                </p>
                <div class="sizes">
                  <div class="volume">
                    <span class="num">11 </span> м<sup>3</sup>
                  </div>
                  <div class="size height">1.9 м</div>
                  <div class="size width">1,95 м</div>
                  <div class="size length">3 м</div>
                  <dl>
                    <dt>кол-во паллетов:</dt>
                    <dd>1</dd>
                    <dt>грузоподъемность:</dt>
                    <dd>1.5 т</dd>
                  </dl>
                </div>
              </div>
              <div class="right">
                <p class="p1">Открытый кузов</p>
                <p class="p2"><span class="num">от 1200</span> руб./час</p>
                <dl>
                  <dt>
                    <span class="white">Мин. время в пределах Оренбурга:</span>
                  </dt>
                  <dd><span class="num">1 </span> ч</dd>
                  <dt>
                    <span class="white">Мин. ставка в пределах Оренбурга:</span>
                  </dt>
                  <dd><span class="num">1200</span> р.</dd>
                </dl>
                <p class="p3">
                  Заказать
                  <a href="tel:+79619097333" title="Заказать Лада Ларгус">8 961 909 7333</a>
                </p>
                <p class="p4">
                  <span class="exclamation">!</span> Тарифы действительны с
                  9:00 до 21:00 часов Вес груза до 1,5 тонны. +150 рублей час
                  за отдаленные районы Кушкуль, Ростоши, пос.им. Куйбышева,
                  Южный, Сулак, Авиагородок, Маяк и Берды
                </p>
              </div>
              <div class="clear"></div>
            </div>
          </div>
        </div>
      </div>
      <!--autopark END-->
      <!--gazel_with_loaders-->
      <div id="gazel_with_loaders">
        <div class="wrapper">
          <h2>Закажите недорогую газель с грузчиками</h2>
          <p class="p1">
            Экономьте свое время и силы, заказывайте Газель с грузчиками.
            Холодильники, диваны, тяжелые предметы, коробки все эти вещи наши
            грузчики погрузят в Газель и привезут вам на другой адрес. У нас
            вы сможете заказать данную услугу на самых выгодных условиях.
          </p>
          <ul class="list">
            <li>
              <p class="foto">
                <img src="{{url_for('/templates/pics', path='img3.png')}}" alt="Наши грузчики бережно относятся к вещам клиентов"
                  title="Профессиональные грузчики" />
              </p>
              <p>
                Трезвые грузчики <br>
                бережно относятся <br>
                к вещам клиентов
              </p>
            </li>
            <li>
              <p class="foto">
                <img src="{{url_for('/templates/pics', path='img4.png')}}" alt="Вежливые, аккуратные и пунктуальные грузчики в городу"
                  title="Вежливые, аккуратные и пунктуальные грузчики" />
              </p>
              <p>тотальный контроль времени диспетчером&nbsp;<br></p>
            </li>
            <li>
              <p class="foto">
                <img src="{{url_for('/templates/pics', path='img5.png')}}" alt="Заказать грузчиков с упаковочными материалами в городу"
                  title="Заказать грузчиков с упаковочными материалами" />
              </p>
              <p>
                У сборщиков всегда при себе <br>
                все необходимые инструменты для работы.
              </p>
            </li>
          </ul>
        </div>
      </div>
      <!--gazel_with_loaders END-->
      <!-- cost_on_loaders_work begin-->
      <div id="cost_on_loaders_work">
        <div class="wrapper osobeniy">
          <div class="heading">УЗНАТЬ СТОИМОСТЬ</div>
          <div class="red_button">
            <a href="http://t.me/orenburg_gruz_bot" target="_blank" rel="noopener noreferrer">

              <button type="button">Оставить заявку</button>
            </a>
          </div>
          <div class="clear"></div>
        </div>
      </div>
      <!-- cost_on_loaders_work END-->
      <!-- calculation begin-->

      <!-- cost_on_loaders_work END-->
    </div>
    <!-- content END -->
    <div class="pfooter"></div>
  </div>
  <!-- wrap end -->
  <!-- footer begin -->
  <footer id="footer">
    <div itemscope itemtype="http://schema.org/Organization">
      <div class="wrapper">
        <a href="#" class="logo" title="Перевозки Дешево">
          <!-- <img src="{{url_for('/templates/images', path='logo-bottom.png')}}" alt="Перевозки" /> -->
          <h3 style="font-size: 22px">Охотники за грузом<br> Оренбург</h3>
        </a>
        <div class="contacts">
          <p itemprop="telephone" class="tel">
            <a href="tel:+79619097333" class="tel" title="Заказать грузовые перевозки на Газели">8 961 909 7333</a><br>
            <a href="tel:+79958359195" class="tel" title="Евгений Админ">8 995 835 9195</a><br>
            <a href="tel:+79534579311" class="tel" title="Данил">8 953 457 9311</a>
          </p>
          <p class="anytime">
            Звоните круглосуточно! Мы работаем каждый день.
          </p>
          <!-- <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
            Адрес офиса:
            <span itemprop="streetAddress">г.Оренбург </span>
            <span itemprop="addressLocality"></span>, ул. Донгузская 54/2 этаж 2 офис 12; Автопарк: г.Оренбург, Площадь 1 мая 1/3</div>
        </div> -->
        <div class="copyright">
          © 2013-2023, Перевозки Дешево <br>
          по городу и области.<br><br>
          <div class="">
            <a title=""  target="_blank"><img src="{{url_for('/templates/images', path='whatsup.png')}}" width="30"
                height="30" alt="Написать в Whatsapp" /></a> <!--href="https://wa.me/79228442626"-->
            <a title=""  target="_blank"><img src="{{url_for('/templates/images', path='viber.png')}}" width="30"
                height="30" alt="Написать в Whatsapp" /></a> <!--href="viber://chat?number=79228442626"-->
            <a title=""  target="_blank"><img src="{{url_for('/templates/images', path='telegram.png')}}" width="30"
                height="30" alt="Написать в Telegram" /></a> <!--href="http://t.me/master_gruzoff"-->
            <a title=""  target="_blank"><img src="{{url_for('/templates/images', path='vkontakte.png')}}"
                width="30" height="30" alt="Написать ВК" /></a> <!--href="https://vk.com/m.gruzoff.orenburg"-->
            <a title=""  target="_blank"><img src="{{url_for('/templates/images', path='instagram.png')}}"
                width="30" height="30" alt="Написать в Instagram" /></a> <!--href="https://www.instagram.com/master_gruzoff/"-->
          </div>
        </div>
      </div>
    </div>
    <div class="map" style="padding: 1em;">
      <h1 style="font-size: 2em;">Мы на картах</h1>
      <div style="position:relative;overflow:hidden;"><a href="https://yandex.ru/maps/48/orenburg/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:0px;">Оренбург</a><a href="https://yandex.ru/maps/48/orenburg/?indoorLevel=2&ll=55.078419%2C51.769810&mode=whatshere&utm_medium=mapframe&utm_source=maps&whatshere%5Bpoint%5D=55.078602%2C51.769985&whatshere%5Bzoom%5D=17.107758&z=17.8" style="color:#eee;font-size:12px;position:absolute;top:14px;">Яндекс Карты — транспорт, навигация, поиск мест</a><iframe src="https://yandex.ru/map-widget/v1/?indoorLevel=2&ll=55.078419%2C51.769810&mode=whatshere&whatshere%5Bpoint%5D=55.078602%2C51.769985&whatshere%5Bzoom%5D=17.107758&z=17.8" width="560" height="400" frameborder="1" allowfullscreen="true" style="position:relative;"></iframe></div>
    </div>
  </footer>

  <!-- footer end -->
  <div id="onTop_bg">
    <div class="wrapper">
      <a href="#вверх" title="Грузоперевозки на Газели в городу" id="onTop"></a>
    </div>
  </div>
  <a href="javascript:;" id="cheepy_not_exist" title="Самые дешевые грузоперевозки на Газели"
    onclick=" open_popup('#spec_sentence_popup');">
    <span class="p1">ДЕШЕВЛЕ<br>
      НЕ БЫВАЕТ</span>
    <span class="p2">%</span>
  </a>
  <div id="want_evaluation">
    <a href="javascript:;" title="Оценка перевозки грузов на Газели" class="closer close"></a>
    <a href="javascript:;" class="block"
      onclick="open_popup('#free_evaluation_popup'); cat_item_jcarousel(200,'#date_slider','circular',false);">
      <p class="p1">
        нужна <br>
        сборка <br>мебели?
      </p>
      <p class="p3">
        <span class="p2">свободные&nbsp; <br>
          сборщики:</span>
        <span class="num">3</span>
      </p>
    </a>
  </div>
  <a href="javascript:;" title="Бесплатная оценка перевозки грузов на Газели" id="popup_bg"></a>
  <!--free_evaluation_popup-->
  <div class="popup_block" id="free_evaluation_popup">
    <a href="javascript:;" title="Заказать сборщика мебели" class="closer close">×</a>
    <div class="heading">Заказать сборщика мебели</div>
    <form action="alert3.php" method="post">
      <div class="form_box">
        <dl>
          <dt class="dt1">Когда:</dt>
          <dd class="dd1">
            <input type="date" name="date" class="input" required />
          </dd>
        </dl>
        <dl>
          <dt class="dt4"><span class="tel_icon">&nbsp;</span> Телефон:</dt>
          <dd class="dd4">
            <input type="text" name="phone" class="input phone" required />
          </dd>
        </dl>
        <div class="red_button">
          <button type="submit">Заказать</button>
        </div>
      </div>
    </form>
    <div class="tel_block">
      <div class="txt">
        подробности&nbsp;
        <br>
        по телефону:
      </div>
      <a href="tel:+79619097333" class="tel" title="Заказать">8 961 909 7333</a>
      <div class="clear"></div>
    </div>
  </div>
  <!--free_evaluation_popup END-->
  <!--spec_sentence_popup-->
  <div class="popup_block" id="spec_sentence_popup">
    <a href="javascript:;" class="closer close" title="Получить специальное предложение на перевозку грузов">×</a>
    <div class="heading">
      Получить специальное <br>
      предложение
    </div>
    <div class="red_button">
      <a href="http://t.me/orenburg_gruz_bot" target="_blank" rel="noopener noreferrer">

        <button type="submit">Оставить заявку</button>
      </a>
    </div>
    <div class="tel_block">
      <div class="txt">
        подробности&nbsp;
        <br>
        по телефону:
      </div>
      <a href="tel:+79619097333" class="tel" title="Получить специальное предложение по грузоперевозкам">8 961 909 7333</a>
      <div class="clear"></div>
    </div>
  </div>
  <!--spec_sentence_popup END-->
  <div class="popup_block" id="tarif_popup">
    <a href="javascript:;" class="closer close" title="Заявка на перевозку грузов на Газели">×</a>
    <div class="heading"></div>
    <div class="red_button">
      <a href="http://t.me/orenburg_gruz_bot" target="_blank" rel="noopener noreferrer">
        <button type="submit">Оставить заявку</button>

      </a>
    </div>
    <div class="tel_block">
      <div class="txt">
        подробности&nbsp;
        <br>
        по телефону:
      </div>
      <a href="tel:+79619097333" class="tel" title="Тарифы на грузоперевозки">8 961 909 7333</a>
      <div class="clear"></div>
    </div>
  </div>
  <!--tarif_popup END-->
  <!-- stoimost_perevozki -->
  <div class="popup_block" id="stoimost_perevozki">
    <a href="javascript:;" class="closer close">×</a>
    <div class="yellow_block">
      <div class="txt1">Примерная стоимость перевозки груза:</div>
      <div class="price"><span class="num">6800</span> руб.</div>
      <div class="dop">
        <div>
          <span>Внимание! Первый час работы всегда оплачивается полностью. Каждый
            неполный час считается отрезками времени по 15 минут.</span>
        </div>
      </div>
      <div class="description">
        Цена указана за <span id="chasi_s">2 часа</span> аренды авто
        <span id="gruzchiki_s">+ 2 грузчиков.</span> Тарифы действительны с
        9:00 до 21:00 часов Вес груза до 1,5 тонны. +150 рублей час за
        отдаленные районы Кушкуль, Ростоши, пос.им. Куйбышева, Южный, Сулак,
        Авиагородок, Маяк и Берды
      </div>
    </div>
    <p class="p1">
      Вы согласны, что наше предложение самое выгодное в городу?
    </p>
    <div class="wrop">
      <div class="da">
        <div class="pos">ДА</div>
        <p class="p2">- для оформления заказа позвоните по телефону</p>
        <p class="p3"><a href="tel:+79619097333">8 961 909 7333</a></p>
      </div>
      <div class="da da1">
        
        <div class="red_button">
          <a href="http://t.me/orenburg_gruz_bot" target="_blank" rel="noopener noreferrer">
            <button type="button">Оставить заявку</button>
          </a>
        </div>
      </div>
    </div>
  </div>
  <!-- stoimost_perevozki END-->
  <!-- map_block -->
  <div class="popup_block" id="map_block">
    <div class="top_names">
      <div class="bg">
        <span class="name">откуда</span>
        <br>
        <span class="address"></span>
      </div>
    </div>
    <a href="javascript:;" class="closer close">×</a>
    <div id="YMapsID" class="yandex_map"></div>
    <div class="red_button">
      <button type="submit" class="close">Выбрать</button>
    </div>
  </div>
  <!-- map_block END-->
  <!--order_popup-->
  <div class="popup_block" id="order_popup">
    <a href="javascript:;" class="closer close" title="Заказать Газель для перевозки грузов по городу">×</a>
    <div class="heading">Заказать сейчас</div>
    <div class="form_box">
      <form action="zayavka.php" method="post">
        <input type="hidden" name="gorod" />
        <input type="hidden" name="email" />
        <input type="hidden" name="subject" value="ЗАКАЗАТЬ СЕЙЧАС" />
        <input type="hidden" id="latlongmet" />
        <input type="hidden" id="location_address" />
        <dl>
          <dt class="dt1">Имя:</dt>
          <dd class="dd1">
            <input type="text" name="name" maxlength="15" class="input" required />
          </dd>
        </dl>
        <dl>
          <dt class="dt1">Телефон:</dt>
          <dd class="dd1">
            <input type="text" name="phone" class="input phone" required />
          </dd>
        </dl>
        <div class="red_button">
          <button type="submit">ЗАКАЗАТЬ</button>
        </div>
      </form>
    </div>
    <div class="tel_block">
      <div class="txt">
        подробности&nbsp;
        <br>
        по телефону:
      </div>
      <a href="tel:+79619097333" class="tel" title="Заказ на перевозку на Газели">8 961 909 7333</a>
      <div class="clear"></div>
    </div>
  </div>
  <!--order_popup END-->
  <!--services_popup-->
  <div class="popup_block" id="services_popup">
    <a href="javascript:;" title="Заказать услуги по перевозке грузов на Газели" class="closer close">×</a>
    <div class="heading"></div>
    <div class="red_button">
      <a href="http://t.me/orenburg_gruz_bot" target="_blank" rel="noopener noreferrer">

        <button type="submit">Оставить заявку</button>
      </a>
    </div>
    <div class="tel_block">
      <div class="txt">
        подробности&nbsp;
        <br>
        по телефону:
      </div>
      <a href="tel:+79619097333" class="tel" title="Заказать переезд на Газели">8 961 909 7333</a>
      <div class="clear"></div>
    </div>
  </div>
  <!--services_popup END-->
  <noindex>
    <!--services_sucess2-->
    <div class="popup_block popup_sucess" id="services_sucess2">
      <a href="javascript:;" title="" class="closer close">×</a>
      <div class="heading"></div>
      <p class="p2">СПАСИБО!</p>
      <div class="red_button close">
        <button type="submit">ок</button>
      </div>
    </div>
    <!--services_sucess2 END-->
    <!--services_sucess-->
    <div class="popup_block popup_sucess" id="services_sucess">
      <a href="javascript:;" title="Заказ услуг по перевозке грузов на Газели" class="closer close">×</a>
      <div class="heading"></div>
      <p class="p2">СПАСИБО!</p>
      <div class="red_button close">
        <button type="submit">ок</button>
      </div>
    </div>
    <!--services_sucess END-->
    <!--tarif_popup_sucess-->
    <div class="popup_block popup_sucess" id="tarif_popup_sucess">
      <a href="javascript:;" title="Заказать услуги грузоперевозок на Газели" class="closer close">×</a>
      <div class="heading"></div>
      <p class="p2">СПАСИБО!</p>
      <div class="red_button close">
        <button type="submit">ок</button>
      </div>
    </div>
    <!--tarif_popup_sucess END-->
    <!--order_popup_sucess-->
    <div class="popup_block popup_sucess" id="order_popup_sucess">
      <a href="javascript:;" title="Заказать перевозку на Газели дешево" class="closer close">×</a>
      <div class="heading">Заказать сейчас</div>
      <p class="p2">СПАСИБО!</p>
      <div class="red_button close">
        <button type="submit">ок</button>
      </div>
    </div>
    <!--order_popup_sucess END-->
    <!--order_popup_sucess-->
    <div class="popup_block popup_sucess" id="spec_sentence_sucess">
      <a href="javascript:;" title="Получить специальное предложение по грузоперевозкам на Газели"
        class="closer close">×</a>
      <div class="heading">
        Получить специальное <br>
        предложение
      </div>
      <p class="p2">СПАСИБО!</p>
      <div class="red_button close">
        <button type="submit">ок</button>
      </div>
    </div>
    <!--order_popup_sucess END-->
    <!--free_evaluation_sucess-->
    <div class="popup_block popup_sucess" id="free_evaluation_sucess">
      <a href="javascript:;" title="Запись на бесплатную оценку перевозки грузов" class="closer close">×</a>
      <div class="heading">Запись на бесплатную оценку</div>
      <p class="p2">СПАСИБО!</p>
      <p class="p3">
        Поднимите трубку! <br>
        Мы Вам уже набираем
      </p>
      <div class="red_button close">
        <button type="submit">ок</button>
      </div>
    </div>
    <!--free_evaluation_sucess END-->
    <!--cupon_discount_sucess-->
    <div class="popup_block popup_sucess" id="cupon_discount_sucess">
      <a href="javascript:;" title="Отправить купон на скидку для услуг по перевозкам" class="closer close">×</a>
      <div class="heading">Купон отправлен</div>
      <p class="p3">на указанный электронный ящик</p>
      <div class="red_button close">
        <button type="submit">ок</button>
      </div>
      <div class="tel_block">
        <div class="txt">
          активировать
          <br>
          купон:
        </div>
        <a href="tel:+79619097333" class="tel" title="Скидочный купон на грузоперевозки на Газели">8 961 909 7333</a>
        <div class="clear"></div>
      </div>
    </div>
    <!--cupon_discount_sucess END-->
    <!--loaders_work_sucess-->
    <div class="popup_block popup_sucess" id="loaders_work_sucess">
      <a href="javascript:;" title="Заказ Газели с грузчиками" class="closer close">×</a>
      <div class="heading">
        Заказ Газели с <br>
        грузчиками
      </div>
      <p class="p2">СПАСИБО!</p>
      <p class="p3">
        Поднимите трубку! <br>
        Мы Вам уже набираем
      </p>
      <div class="red_button close">
        <button type="submit">ок</button>
      </div>
    </div>
    <!--loaders_work_sucess END-->
    <!--order_popup_sucess-->
    <div class="popup_block popup_sucess" id="order_gazel_sucess">
      <a href="javascript:;" title="Заказать газель для переезда по городу" class="closer close">×</a>
      <div class="heading">
        Заказать газель для <br>
        <span class="head_text"> переезда по городу</span>
      </div>
      <p class="p2">СПАСИБО!</p>
      <div class="red_button close">
        <button type="submit">ок</button>
      </div>
    </div>


    <!--order_popup_sucess END-->
  </noindex>
  <link rel="stylesheet" type="text/css" href="{{url_for('/templates/owl-carousel', path='owl.carousel.css')}}" />
  <script type="text/javascript">
    jQuery(function ($)
    {

      $.mask.definitions['9'] = false;
      $.mask.definitions['5'] = "[0-9]";
      $(".phone").mask("+7 (955) 555-5555");
    });
  </script>
  <script src="{{url_for('/templates/js', path='jquery-1.9.0.js')}}" type="text/javascript"></script>
  <script src="{{url_for('/templates/js', path='plugins.js')}}" type="text/javascript"></script>
  <script src="{{url_for('/templates/owl-carousel', path='owl.carousel.min.js')}}" type="text/javascript"></script>
  <script src="http://api-maps.yandex.ru/2.0/?load=package.full&lang=ru-RU" type="text/javascript"></script>
  <script src="{{url_for('/templates/js', path='geolocation-button.js')}}" type="text/javascript"></script>
  <script src="{{url_for('/templates/js', path='script2.js')}}" type="text/javascript"></script>
</body>

</html>
